<script>
angular.module('ttPoker', ['ngDragDrop'])
.controller('controller',function($scope){
  var naipes = [{
    simbolo: '♣',
    texto: 'paus'
  },{
   simbolo: '♦',
   texto: 'ouro'
  },
  {
    simbolo: '♥',
    texto: 'coracao' 
  },
  {
   simbolo: '♠',
   texto: 'espadilha'
  }];
  var valores = ['2','3','4','5','6','7','8','9','10','J','Q','K','A'];
  $scope.cartas = [];
  $scope.jogadores = 2;
  indexCartas = 0;
  $scope.lista = [];
  

  gerarBaralho();
  loadCartas();
  gerarPainelJogador();

  function gerarBaralho(){
    baralho = [];
    naipes.map((naipe) =>{
      valores.map((v) =>{
        baralho.push({
          naipe: naipe,
          valor: v,
          especial:false,
          index: getUniqueKey(),
          isNextOrPrevious : isNextOrPrevious,
          drag: true,
          valorNumerico: generateNumeric(v)
        });
      });
    });
    // for(var x = 0; x < 4; x++){
    //   baralho.push({
    //     naipe: null,
    //     valor:'thief', //ladrão
    //     especial : true,
    //     index: getUniqueKey(),
    //     isNextOrPrevious : isNextOrPrevious,
    //     drag: true
    //   });
    //   baralho.push({
    //     naipe: null,
    //     valor:'joker', //coringa
    //     especial : true,
    //     index: getUniqueKey(),
    //     isNextOrPrevious : isNextOrPrevious,
    //     drag: true
    //   });
    // }
  }

  function gerarPainelJogador(){
    $scope.jogadores = [{},{}];
    $scope.jogadores.map(function(jogador){
      jogador.colunas = [];
      jogador.pontuacoes = [];
      jogador.getNaipe = getNaipe;
      jogador.getCarta = getCarta;
      for(var x = 0; x < 3 ;x ++){
        jogador.colunas.push({
          v: x,
          linhas: [
          {
            linha: 0,
            data: []
          },
            {
              linha: 1,
            data: []
            },
            {
              linha: 2,
            data: []
            }
          ]
        });
      }
    });
  }

  function getCartaAleatoria(){
    var posicao = Math.floor(Math.random() * baralho.length);
    var carta = baralho[posicao]
    baralho.splice(posicao, 1);
    console.log(baralho.length);
    return carta;
  }

  function loadCartas(){
    for(var x = 0; x < 5 ; x ++){
      $scope.cartas.push(getCartaAleatoria());
    }
  }
  function generateNumeric(v){
            if(v === 'J'){
              return 11;
            }
            else if(v === 'Q'){
              return 12;
            }
            else if(v === 'K'){
              return 13;
            }
            else if(v === 'A'){
              return 14;
            }else{
              return Number(v);
            }

          }

  function getUniqueKey(){
    indexCartas += 1;
    return indexCartas;
  }

  $scope.isRed = function(carta){
    if(carta == null || carta.naipe == null){
      return false;
    }
    if(carta.naipe.simbolo.includes(['♦']) || carta.naipe.simbolo.includes(['♥']))
      return true;
    else
      return false;
  }
  $scope.cardPlaced = function(){
    $scope.changeCard();
    $scope.jogadores.forEach(jogador => {
      jogador.pontuacoes = [];
      //Pontuação das naipe 
      validaNaipes(jogador);
      validaTrincaDupla(jogador);
      validaSequencias(jogador);
    });
    return null;
  }

  $scope.changeCard = function(){
    for(var x = 0; x < $scope.cartas.length; x++){
      if(isEmpty($scope.cartas[x])){
        $scope.cartas[x] = getCartaAleatoria();
      }
    }
  }
  function isEmpty(obj) {
    for(var key in obj) {
        if(obj.hasOwnProperty(key))
            return false;
    }
    return true;
  }
  function getNaipe(x, y){
    if(this.colunas[y] != null && this.colunas[y].linhas[x] != null && this.colunas[y].linhas[x].data != null && this.colunas[y].linhas[x].data.length > 0){
      if( this.colunas[y].linhas[x].data[0].naipe != null)
        return this.colunas[y].linhas[x].data[0].naipe.texto;
      return null;
    }
  }
  function getCarta(x, y){
    if(this.colunas[y] != null && this.colunas[y].linhas[x] != null && this.colunas[y].linhas[x].data != null && this.colunas[y].linhas[x].data.length > 0){
      return this.colunas[y].linhas[x].data[0];
    }
    return {
      valor: null
    };
  }
  function validaNaipes(jogador){
    for(var x = 0; x < 2; x++){
        if(jogador.getNaipe(x,0) != null && jogador.getNaipe(x,0) === jogador.getNaipe(x, 1) && jogador.getNaipe(x, 1) === jogador.getNaipe(x, 2)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
        if(jogador.getNaipe(0,x) != null && jogador.getNaipe(0,x) === jogador.getNaipe(1, x) && jogador.getNaipe(1, x)=== jogador.getNaipe(2, x)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
      }
      if(jogador.getNaipe(0,0) != null && jogador.getNaipe(0,0) === jogador.getNaipe(1, 1) && jogador.getNaipe(1, 1)=== jogador.getNaipe(2, 2)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
        if(jogador.getNaipe(0,2) != null && jogador.getNaipe(0,2) === jogador.getNaipe(1, 1) && jogador.getNaipe(1, 1)=== jogador.getNaipe(2, 0)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
  }
  function validaTrincaDupla(jogador){
    for(var x = 0; x < 2; x++){
      var carta_a = jogador.getCarta(x, 0);
      var carta_b = jogador.getCarta(x, 1);
      var carta_c = jogador.getCarta(x, 2);
      // Vertical
      var cartasValidas = isCard(carta_a) && isCard(carta_b) && isCard(carta_c);
      if(cartasValidas){
        if(carta_a.valor == carta_b.valor && carta_b.valor === varta_c.valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }else if(carta_a.valor == carta_b.valor || 
          carta_a.valor == carta_c.valor ||
          carta_b.valor == carta_c.valor){
          jogador.pontuacoes.push({
            dupla: true,
            valor: 200
          })
        }
      }
      carta_a = jogador.getCarta(0, x);
      carta_b = jogador.getCarta(1, x);
      carta_c = jogador.getCarta(2, x);
      // Horizontal
      if(cartasValidas){
        if(carta_a.valor == carta_b.valor && carta_b.valor === varta_c.valor){
          jogador.pontuacoes.push({
              straight: true,
              valor: 450
            })
        }else if(carta_a.valor == carta_b.valor || 
          carta_a.valor == carta_c.valor ||
          carta_b.valor == carta_c.valor){
          jogador.pontuacoes.push({
            dupla: true,
            valor: 200
          })
        }
      }
      cartasValidas = isCard(jogador.getCarta(0,0)) && isCard(jogador.getCarta(1,1)) && isCard(jogador.getCarta(2,2));
      if(cartasValidas && jogador.getCarta(0,0).valor === jogador.getCarta(1, 1).valor && jogador.getCarta(1, 1).valor === jogador.getCarta(2, 2).valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }else if(
          jogador.getCarta(0,0).valor === jogador.getCarta(1, 1).valor ||
          jogador.getCarta(1,1).valor === jogador.getCarta(2, 2).valor ||
          jogador.getCarta(0,0).valor === jogador.getCarta(2, 2).valor
        ){
          jogador.pontuacoes.push({
            dupla: true,
            valor: 200
          })
        }
      cartasValidas = isCard(jogador.getCarta(0,2)) && isCard(jogador.getCarta(1,1)) && isCard(jogador.getCarta(2,0));
        if(cartasValidas && jogador.getCarta(0,2).valor === jogador.getCarta(1, 1).valor && jogador.getCarta(1, 1).valor === jogador.getCarta(2, 0).valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }else if(
          jogador.getCarta(0,2).valor === jogador.getCarta(1, 1).valor ||
          jogador.getCarta(1,1).valor === jogador.getCarta(2, 0).valor ||
          jogador.getCarta(0,2).valor === jogador.getCarta(2, 0).valor
        ){
          jogador.pontuacoes.push({
            dupla: true,
            valor: 200
          })
        }
    }
  }
  function validaSequencias(jogador){
    for(var x = 0; x < 2; x++){
      var carta_a = jogador.getCarta(x, 0);
      var carta_b = jogador.getCarta(x, 1);
      var carta_c = jogador.getCarta(x, 2);
      // Vertical
      if(isCard(carta_a) && isCard(carta_b) && isCard(carta_c)){
        if(carta_a.isNextOrPrevious(carta_b) && carta_b.isNextOrPrevious(carta_c) || carta_b.isNextOrPrevious(carta_c) && carta_c.isNextOrPrevious(carta_a)){
          jogador.pontuacoes.push({
              straight: true,
              valor: 450
            })
        }
      }
      carta_a = jogador.getCarta(0, x);
      carta_b = jogador.getCarta(1, x);
      carta_c = jogador.getCarta(2, x);
      // Horizontal
      if(isCard(carta_a) && isCard(carta_b) && isCard(carta_c)){
        if(carta_a.isNextOrPrevious(carta_b) && carta_b.isNextOrPrevious(carta_c) || carta_b.isNextOrPrevious(carta_c) && carta_c.isNextOrPrevious(carta_a)){
          jogador.pontuacoes.push({
              straight: true,
              valor: 450
            })
        }
      }
    }
      // if(jogador.getCarta(0,0) != null && jogador.getCarta(0,0).valor != null && jogador.getCarta(0,0).valor === jogador.getCarta(1, 1).valor && jogador.getCarta(1, 1).valor === jogador.getCarta(2, 2).valor){
      //     jogador.pontuacoes.push({
      //       trinca: true,
      //       valor: 750
      //     })
      //   }
      //   if(jogador.getCarta(0,2) != null && jogador.getCarta(0,2).valor != null && jogador.getCarta(0,2).valor === jogador.getCarta(1, 1).valor && jogador.getCarta(1, 1).valor === jogador.getCarta(2, 0).valor){
      //     jogador.pontuacoes.push({
      //       trinca: true,
      //       valor: 750
      //     })
      //   }
  }
  function isNextOrPrevious(carta){
    return this.valorNumerico + 1 == carta.valorNumerico || this.valorNumerico - 1 == carta.valorNumerico;
  }
  function isCard(carta){
    return carta != null && carta.valor != null;
  }
})
</script>