<script>
angular.module('ttPoker', ['ngDragDrop'])
.controller('controller',function($scope){
  var naipes = ['♣','♦','♥','♠'];
  var valores = ['2','3','4','5','6','7','8','9','10','J','Q','K','A'];
  $scope.cartas = [];
  $scope.jogadores = 2;
  indexCartas = 0;
  $scope.lista = [];
  

  gerarBaralho();
  loadCartas();
  gerarPainelJogador();

  function gerarBaralho(){
    baralho = [];
    naipes.map((naipe) =>{
      valores.map((v) =>{
        baralho.push({
          naipe: naipe,
          valor: v,
          especial:false,
          index: getUniqueKey(),
          drag: true
        });
      });
    });
    for(var x = 0; x < 4; x++){
      baralho.push({
        naipe: null,
        valor:'thief', //ladrão
        especial : true,
        index: getUniqueKey(),
          drag: true
      });
      baralho.push({
        naipe: null,
        valor:'joker', //coringa$scope.yourName = "Lucas"
        especial : true,
        index: getUniqueKey(),
          drag: true
      });
    }
  }

  function gerarPainelJogador(){
    $scope.jogadores = [{},{}];
    $scope.jogadores.map(function(jogador){
      jogador.colunas = [];
      for(var x = 0; x < 3 ;x ++){
        jogador.colunas.push({
          v: x,
          linhas: [
          {
            linha: 0,
            data: []
          },
            {
              linha: 1,
            data: []
            },
            {
              linha: 2,
            data: []
            }
          ]
        });
      }
    });
  }

  function getCartaAleatoria(){
    var posicao = Math.floor(Math.random() * baralho.length);
    var carta = baralho[posicao]
    baralho.splice(posicao, 1);
    console.log(baralho.length);
    return carta;
  }

  function loadCartas(){
    for(var x = 0; x < 5 ; x ++){
      $scope.cartas.push(getCartaAleatoria());
    }
  }

  function getUniqueKey(){
    indexCartas += 1;
    return indexCartas;
  }

  $scope.isRed = function(carta){
    if(carta == null || carta.naipe == null){
      return false;
    }
    if(carta.naipe.includes(['♦']) || carta.naipe.includes(['♥']))
      return true;
    else
      return false;
  }

  $scope.changeCard = function(){
    var c = 0;
    for(var x = 0; x < $scope.cartas.length; x++){
      if(isEmpty($scope.cartas[x])){
        $scope.cartas[x] = getCartaAleatoria();
      }
    }
  }
  function isEmpty(obj) {
    for(var key in obj) {
        if(obj.hasOwnProperty(key))
            return false;
    }
    return true;
}
})
</script>