<script>
angular.module('ttPoker', ['ngDragDrop'])
.controller('controller',function($scope){
  var naipes = [{
    simbolo: '♣',
    texto: 'paus'
  },{
   simbolo: '♦',
   texto: 'ouro'
  },
  {
    simbolo: '♥',
    texto: 'coracao' 
  },
  {
   simbolo: '♠',
   texto: 'espadilha'
  }];
  var valores = ['2','3','4','5','6','7','8','9','10','J','Q','K','A'];
  $scope.cartas = [];
  $scope.jogadores = 2;
  indexCartas = 0;
  $scope.lista = [];
  

  gerarBaralho();
  loadCartas();
  gerarPainelJogador();

  function gerarBaralho(){
    baralho = [];
    naipes.map((naipe) =>{
      valores.map((v) =>{
        baralho.push({
          naipe: naipe,
          valor: v,
          especial:false,
          index: getUniqueKey(),
          drag: true
        });
      });
    });
    for(var x = 0; x < 4; x++){
      baralho.push({
        naipe: null,
        valor:'thief', //ladrão
        especial : true,
        index: getUniqueKey(),
          drag: true
      });
      baralho.push({
        naipe: null,
        valor:'joker', //coringa$scope.yourName = "Lucas"
        especial : true,
        index: getUniqueKey(),
          drag: true
      });
    }
  }

  function gerarPainelJogador(){
    $scope.jogadores = [{},{}];
    $scope.jogadores.map(function(jogador){
      jogador.colunas = [];
      jogador.pontuacoes = [];
      jogador.getNaipe = getNaipe;
      jogador.getCarta = getCarta;
      for(var x = 0; x < 3 ;x ++){
        jogador.colunas.push({
          v: x,
          linhas: [
          {
            linha: 0,
            data: []
          },
            {
              linha: 1,
            data: []
            },
            {
              linha: 2,
            data: []
            }
          ]
        });
      }
    });
  }

  function getCartaAleatoria(){
    var posicao = Math.floor(Math.random() * baralho.length);
    var carta = baralho[posicao]
    baralho.splice(posicao, 1);
    console.log(baralho.length);
    return carta;
  }

  function loadCartas(){
    for(var x = 0; x < 5 ; x ++){
      $scope.cartas.push(getCartaAleatoria());
    }
  }

  function getUniqueKey(){
    indexCartas += 1;
    return indexCartas;
  }

  $scope.isRed = function(carta){
    if(carta == null || carta.naipe == null){
      return false;
    }
    if(carta.naipe.simbolo.includes(['♦']) || carta.naipe.simbolo.includes(['♥']))
      return true;
    else
      return false;
  }
  $scope.cardPlaced = function(){
    $scope.changeCard();
    $scope.jogadores.forEach(jogador => {
      jogador.pontuacoes = [];
      //Pontuação das naipe 
      validaNaipes(jogador);
      validaValores(jogador);
      console.log(jogador);
    });
    return null;
  }

  $scope.changeCard = function(){
    for(var x = 0; x < $scope.cartas.length; x++){
      if(isEmpty($scope.cartas[x])){
        $scope.cartas[x] = getCartaAleatoria();
      }
    }
  }
  function isEmpty(obj) {
    for(var key in obj) {
        if(obj.hasOwnProperty(key))
            return false;
    }
    return true;
  }
  function getNaipe(x, y){
    if(this.colunas[y] != null && this.colunas[y].linhas[x] != null && this.colunas[y].linhas[x].data != null && this.colunas[y].linhas[x].data.length > 0){
      return this.colunas[y].linhas[x].data[0].naipe.texto;
    }
  }
  function getCarta(x, y){
    if(this.colunas[y] != null && this.colunas[y].linhas[x] != null && this.colunas[y].linhas[x].data != null && this.colunas[y].linhas[x].data.length > 0){
      return this.colunas[y].linhas[x].data[0];
    }
    return {
      valor: null
    };
  }
  function validaNaipes(jogador){
    for(var x = 0; x < 2; x++){
        if(jogador.getNaipe(x,0) != null && jogador.getNaipe(x,0) === jogador.getNaipe(x, 1) && jogador.getNaipe(x, 1) === jogador.getNaipe(x, 2)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
        if(jogador.getNaipe(0,x) != null && jogador.getNaipe(0,x) === jogador.getNaipe(1, x) && jogador.getNaipe(1, x)=== jogador.getNaipe(2, x)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
      }
      if(jogador.getNaipe(0,0) != null && jogador.getNaipe(0,0) === jogador.getNaipe(1, 1) && jogador.getNaipe(1, 1)=== jogador.getNaipe(2, 2)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
        if(jogador.getNaipe(0,2) != null && jogador.getNaipe(0,2) === jogador.getNaipe(1, 1) && jogador.getNaipe(1, 1)=== jogador.getNaipe(2, 0)){
          jogador.pontuacoes.push({
            naipe_igual: true,
            valor: 350
          })
        }
  }
  function validaValores(jogador){
    for(var x = 0; x < 2; x++){
        if(jogador.getCarta(x,0) != null && jogador.getCarta(x,0).valor != null && jogador.getCarta(x,0).valor === jogador.getCarta(x, 1).valor && jogador.getCarta(x, 1).valor === jogador.getCarta(x, 2).valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }
        if(jogador.getCarta(0,x) != null && jogador.getCarta(0,x).valor != null &&  jogador.getCarta(0,x).valor === jogador.getCarta(1, x).valor && jogador.getCarta(1, x).valor === jogador.getCarta(2, x).valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }
      }
      if(jogador.getCarta(0,0) != null && jogador.getCarta(0,0).valor != null && jogador.getCarta(0,0).valor === jogador.getCarta(1, 1).valor && jogador.getCarta(1, 1).valor === jogador.getCarta(2, 2).valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }
        if(jogador.getCarta(0,2) != null && jogador.getCarta(0,2).valor != null && jogador.getCarta(0,2).valor === jogador.getCarta(1, 1).valor && jogador.getCarta(1, 1).valor === jogador.getCarta(2, 0).valor){
          jogador.pontuacoes.push({
            trinca: true,
            valor: 750
          })
        }
  }
})
</script>